.header{
    min-width:100vh;
    height:90px;
    padding: 11px;
    grid-column: 2;
    grid-row: 1 / span 1;
    background-color: #181818;
    display: grid;
    grid-template-columns: auto 200px;
    align-items: center;
    top:0;
}

.header__profilePicture{
    height: 70px;
    width:70px;
    border-radius: 50px;
    float: left;
}

.header__search{
    height:40px;
    width:400px;
    border-radius: 25px;
    outline: none;
    padding:20px;
    margin-left: 25px;
    border:none;

}

.header__profile{
    display: grid;
    grid-template-columns: auto 134px;
    align-items: center;
    grid-gap: 15px;

}