.sidebarOption{
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    text-align: start;
}

.sidebarOption__icon {
    width: 30px;
    height: 40px;
    border-right: 20px;
}