.footer{
   position: fixed; 
   bottom: 0;
   left:0;
   width:100vw;
   height: 120px;
   justify-content: space-evenly;
   border-top-style: solid;
   border-color: white;
   padding: 10px;
   background-color: #181818;
}

.footer__albumCover{
    height: 100px;
    width: 100px;
    padding: 10px;
}

.footerLeft{
    width: 220px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}