.footer{
   bottom: 0;
   left:0;
   width:100vw;
   height: 120px;
   justify-content: space-evenly;
   border-top-style: solid;
   border-top-width: thin;
   border-color: gray;
   padding: 10px;
   background-color: #181818;
   grid-row: 3 / span 1;
   display: grid;
   grid-template-columns: 1fr 245px 1fr;
   align-items: center;
}

.footer__albumCover{
    height: 100px;
    width: 100px;
    padding: 10px;
}

.footer__left{
    width: 220px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 300px;
    grid-gap: 10px;
    grid-column: 1 / span 1;
}

.footer__center{
    display: flex;
    justify-content: center;
}