.player{
    background-color: orange;
    color: white;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 111px auto 140px;

}