.player{
    background-color: #181818;
    color: white;
    max-height: 100%;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 111px 1fr 140px;
    overflow: hidden;
    height: 100vh;

}

.searchResults{
    display: grid;
    grid-template-columns: 400px auto;
}

.searchResults__songlist{
    grid-column: 2;
    grid-row:1;
}