.player{
    background-color: orange;
    color: white;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 111px 100vh 140px;

}

.searchResults{
    display: grid;
    grid-template-columns: 400px auto;
}

.searchResults__songlist{
    grid-column: 2;
    grid-row:1;
}